.text-grey{
    color: #dcdcdc;
}

#city {
    letter-spacing: 15px;
    color: #ff0000;
}

#box{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}
